@media screen and (min-width: 768px) {
    .modal__dialog-container {
        width: 450px;
    }
}

.modal__dialog-container {
    padding: 20px;
    width: calc(100% - 80px);
    max-width: none;
    border: 20px inset lighten($primary-color, 10);
    border-radius: 10px;
    #pseudo {
        border: 1px solid $primary-color !important;
        border-radius: 3px;
    }
    #label-file {
        border: 1px solid $primary-color;
        border-radius: 3px;
        padding: 5px 10px;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 14px;
    }
    input[type="file"] {
        display: none;
    }
    #profile-completion-btn {
        color: $primary-color;
    }
    img {
        width: 150px;
    }
}
