@import "../2.Utils/variable";
* {
  margin: 0;
  padding: 0;  
}
body {
  font-family: "main-fonts";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  // color: $clr-2;
}
ul {
  list-style: none;
}
img {
  object-fit: cover;
}