@import "../2.Utils/variable";
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;  
}
body {
  font-family: "main-fonts";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
section,
main {
  transition: 0.2s;
}
section.active,
main.active {
  filter: blur(3px);
}
a {
  text-decoration: none;
  // color: $clr-2;
}
ul {
  list-style: none;
}
img {
  object-fit: cover;
}