.home-page {
    &__component {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 45px;
        // background-color: $secondary-color;
        h1 {
            color: $primary-color;
        }
    }
    &__post-container {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
        li {
            width: 100%;
            display: inline-block;
        }
    }
}