.signup-section {
    @media screen and (min-width: 1025px) {
        flex-direction: row;
        height: calc(100vh - 240px);
        padding-top: 150px;
    }
    @media screen and (max-width: 1024px) {
        padding: 120px 0 20px;
    }
    display: flex;
    flex-direction: column;
    background-color: lighten($primary-color, 47);
    img {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            position: relative;
            width: 65%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (max-width:767px) {
            position: relative;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.signin-section {
    @media screen and (min-width: 1025px) {
        flex-direction: row;
        gap: 40px;
        height: calc(100vh - 240px);
        padding-top: 150px;
    }
    @media screen and (max-width: 1024px) {
        padding: 120px 0 20px;
    }
    display: flex;
    flex-direction: column;
    background-color: lighten($primary-color, 47);
}
.start-form {
    @media screen and (min-width: 1025px) {
        width: 35%;
        height: 350px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 60px;
        height: 315px;
        
    }
    @include columnCenter;
    width: 70%;
    gap: 15px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px 60px;
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 12px 13px 12px 0px rgb(135 108 108 / 31%);
    h2 {
        color: $clr-1;
        font-weight: normal;
        align-self: flex-start;
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 30px;
        text-transform: uppercase;
    }
    form {
        @media screen and (min-width: 1025px) {
            width: 70%;
            gap: 30px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            gap: 25px;
            width: 80%;
        }
        margin: 0 20px;
        position: relative;
        display: grid;
        gap: 15px;
        .input-container {
            position: relative;
            input:valid,
            input:focus {
                border: 1px solid $primary-color;
                ~ label {
                    color: $primary-color;
                    transform: translate(10px, -22.5px) scale(0.7);
                    border-left: 1px solid $primary-color;
                    border-right: 1px solid $primary-color;
                    letter-spacing: 4px;
                }
            } 
        }
        label {
            text-transform: uppercase;
            pointer-events: none;
            position: absolute;
            top: 11px;
            left: 1px;
            padding: 0 15px;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 2px;
            background-color: $secondary-color;
            color: $clr-1;
            transition: 0.4s ease-in-out;
        }
        input {
            width: calc(100% - 17px);
            border-radius: 5px;
            background-color: $secondary-color;
            color: $primary-color;
            font-size: 18px;
            border: 1px solid $clr-1;
            line-height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            transition: 0.4s ease-in-out;
            &:focus-visible {
                outline: none;
            }
        }
        .click-anim-container {
            position: relative;
            width: 70%;
            height: 80px;
            left: 15%;
            overflow: hidden;
            border-radius: 5px;
        }
        button {
            cursor: pointer;
            position: relative;
            height: 55px;
            margin-top: 10px;
            line-height: 55px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            // font-size: 1.2em;
            border: 2px solid $clr-1;
            background-color: $secondary-color;
            color: $clr-1;  
            border-radius: 5px;
            width: 90%;
            word-break: keep-all;
            &:hover {
                margin-bottom: 1px;
                color: $primary-color;
                border: 1.5px solid $primary-color;
                &::after {
                    transform: translate(-7px, -6px);
                    border: 1.5px solid $primary-color;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: -1px;
                left: -1.5px;
                width: 100%;
                height: calc(100% - 1px);
                background-color: transparent;
                border-radius: 5px;
                border: 1.5px solid $clr-1;
                transition: 0.1s ease-in-out;
            }
        }
    }
}
.ripples {
    position: absolute;
    background: $primary-color;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
#signin-img {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        position: relative;
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (max-width:767px) {
        position: relative;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    display: block;
    width: 459px;
    margin-right: 40px;
}
