.welcome {
    @media screen and (min-width: 1025px) {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: calc(100vh - 240px);
        padding: 125px 0 25px;
    }
    @media screen and (max-width: 1024px) {
        gap: 30px;
        flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 125px 0 55px;
        height: calc(100vh - 270px);
    }
    @media screen and (max-width: 767px) {
        padding: 125px 0 50px;
        height: calc(100vh - 312px);
    }
    display: flex;
    align-items: center;
    
    background-color: lighten($primary-color, 47);
    &__aside-intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__polygon-container {
            @media screen and (min-width: 1025px) {
                display: block;
                clip-path: ellipse(50% 50% at 50% 50%);
                background: rgb(255,95,61);
                background: linear-gradient(122deg, rgba(255,95,61,1) 0%, rgba(253,45,1,1) 76%);
                height: 365px;
                width: 580px;
                position: absolute;
                z-index: 0;
            }
            display: none;
        }
        &__polygon {
            clip-path: ellipse(50% 50% at 50% 50%);
            background-color: lighten($primary-color, 47);
            height: 350px;
            width: 550px;
            position: absolute;
            z-index: 1;
            left: 10px;
            top: 2px;
        }
        &__brief-intro {
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                margin-top: 35px;
            }
            position: relative;
            z-index: 1;   
        }
        h1 {
            @media screen and (min-width: 1025px) {
                width: 430px;
            }
            color: $primary-color;
            z-index: 10;
            margin-bottom: 10px;
        }
        p {
            color: $primary-color;
            z-index: 10;
            margin-top: 15px;
            font-size: 16px;
        }
    }
    img {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 80%;
            position: relative;
            top: 40%;
            transform: translateY(-50%);
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            // position: relative;
            // top: 50%;
            // transform: translateY(-50%);
        }
    }
}