footer {
    @media screen and (min-width: 1025px) {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 20px 40px;
    }
    background-color: $tertiary-color;
    color: $clr-1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    padding: 20px 0 30px;
    .footer-contact {
        @include rowCenter;
        gap: 20px;
        h3 {
            margin-right: 20px;
        }
        p {
            cursor: pointer;
        }
    }
    img {
        position: relative;
        top: 10px;
        width: 200px;
        height: 50px;
    }
}