footer {
    background-color: $tertiary-color;
    color: $clr-1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 40px;
    .footer-contact {
        @include rowCenter;
        gap: 20px;
        h3 {
            margin-right: 20px;
        }
        p {
            cursor: pointer;
        }
    }
    img {
        position: relative;
        top: 10px;
        height: 50px;
    }
}