footer {
    // position: relative;
    // bottom: 0px;
    background-color: $tertiary-color;
    color: $clr-1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 40px;
    .footer-contact {
        display: flex;
        gap: 20px;
        align-items: center;
        // flex-direction: column;
        // justify-content: start;
        h3 {
            margin-right: 20px;
        }
        p {
            cursor: pointer;
            // margin-top: 35px;
        }
    }
    img {
        position: relative;
        top: 10px;
        height: 50px;
    }
}