nav {
    position: relative;
    ul {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 40px;
        padding-left: 0;
        padding: 25px 25px 25px 45px;
        border: 2px solid $tertiary-color;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        transition: 0.1s ease-in-out;
        &:hover {
            border-color: $primary-color;
        }
        > .home-btn {
            width: 95px !important;
        }
        > .welcome-btn {
            width: 140px !important;
        }
        li {
            background: $clr-1;
            position: relative;
            display: inline-block;
            transition: 0.2s ease-in-out;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            z-index: 2;
            &:hover {
                > a {
                    transform: translateY(-2px);
                    color: $clr-1; 
                }
                 
            }
            &:nth-child(1) {
                width: 130px;
            }
            &:nth-child(2) {
                width: 125px;
            }
            
            a {
                position: absolute;
                top: -10px;
                left: 0;
                transition: 0.2s ease-in-out;
                display: inline-block;
                color: $tertiary-color;
                z-index: 2;
                
            }
            .animated-bg {
                position: absolute;
                left: 0px;
                top: -20px;
                width: 110%;
                height: 73px;
                background-color: $primary-color;
                border-radius: 10px 10px 0 0;
                z-index: 1;
                transform: translate(-12.5%, 90%);
                transition: 0.4s ease-in-out;
                overflow: hidden;
            }
        }
            
    }
    .animation {
        position: absolute;
        height: 5px;
        bottom: -2px;
        width: 135px;
        z-index: 0;
        background: $primary-color;
        border-radius: 5px;
        transform: translateY(100%);
    }
}
