nav {
    position: relative;
    width: 400px;
    ul {
        @media screen and (min-width: 1024px) {
            position: relative;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-around;
            height: 55px;
            width: 100%;
            border: 2px solid $tertiary-color;
            border-radius: 5px;
            margin-top: 0;
            margin-bottom: 0;
            overflow: hidden;
            transition: 0.1s ease-in-out;
            z-index: 1;
            &:hover {
                border-color: $primary-color;
            }
        }
        display: none;
        > .home-btn {
            width: 75px !important;
        }
        > .welcome-btn {
            width: 140px !important;
        }
        li {
            background: $clr-1;
            position: relative;
            display: inline-block;
            transition: 0.2s ease-in-out;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            z-index: 2;
            padding: 0 10px;
            width: 115px;
            &:hover {
                > a {
                    transform: translateY(-50%,calc(-50% + -2px));
                    color: $clr-1; 
                }                 
            }           
            a {
                position: absolute;
                transition: 0.2s ease-in-out;
                display: inline-block;
                color: $tertiary-color;
                transform: translate(-50%, -50%);
                z-index: 2;     
            }
            .animated-bg {
                position: absolute;
                left: 0px;
                top: -20px;
                width: 100%;
                height: 73px;
                background-color: $primary-color;
                border-radius: 5px 5px 0 0;
                z-index: 1;
                transform: translate(-12.5%, 90%);
                transition: 0.4s ease-in-out;
                overflow: hidden;
            }
        }       
    }
    .animation {
        position: absolute;
        height: 5px;
        bottom: -2px;
        width: 135px;
        z-index: 0;
        background: $primary-color;
        border-radius: 5px;
        transform: translate(-50%, 100%);
    }
}
