#date-for-small-screen {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
#date-for-big-screen {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.fake-gap {
    width: 20px;
    background-color: transparent;
}
.post {
    @media screen and (min-width: 1025px) {
        width: 70%;
    }
    background: $clr-1;
    border: 3px solid $secondary-color;
    border-radius: 5px;
    box-shadow: 4px 3px 12px 2px rgb(139 137 137 / 23%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    &__info-container {
        display: flex;
        justify-content: space-between;
        &__img-container {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            img {
                position: absolute;
                height: 80px;
                width: 80px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h3 {
            position: absolute;
            left: 80px; 
        }
        p {
            font-size: 11px;
            color: rgba(70, 70, 70, 0.664);
        }
    }
    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // justify-content: space-evenly;
        margin-bottom: 40px;
        &__text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 80px;
            @media screen and (max-width: 767px) {
                width: 90%;
            }
            p {
                display: inline-block;
                color: $clr-2;
                font-size: 13px;
                padding: 0 10px;
            }
            form {
                display: flex;
                position: relative;
                top: 20px;
                left: 10px;
                width: 90%;
                height: 100%; 
                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
        &__remove-file-btn {
            @media screen and (min-width: 1025px) {
                transform: translate(35px, -250px);
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                transform: translate(40px, -255px);
            }
            @media screen and (max-width: 767px) {
                transform: translateY(-235px);
                right: -12%;
            }
            position: relative;
            color: $primary-color !important;
            min-width: 10px !important;
            padding: 0 !important;
            font-size: 18px !important;
            
        }
        &__edit {
            &-area {
                width: calc(100% - 45px);
                border: 2px solid $secondary-color;
                border-radius: 3px;
                padding: 5px;
                font-family: "main-fonts";
                font-size: 13px;
                resize: none;
                // margin-right: 30px;
            }
            &-btn {
                // transform: translateY(-55px);
                color: $secondary-color !important;
                min-width: 10px !important;
                padding: 0 !important;
                font-size: 18px !important;
                margin-left: 10px !important;
                &:hover {
                    color: $primary-color !important;
                    transform: translate(3px, -3px) scale(1.1);
                }
                &-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    transform: translateX(-20px);
                }
            }
        }
        &__image-division {
            @media screen and (min-width: 1025px) {
                width: 70%;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 80%;
            }
            width: 90%;
            img {
                @media screen and (min-width: 1025px) {
                    height: 350px;
                }
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                border-radius: 8px;
                box-shadow: 2px 2px 3px 0px #8583835e;
            }
        }
        
    }
    &__modification-container {
        display: flex;
        justify-content: space-between;
    }
    &__likes-container {
        display: flex;
        gap: 5px;
        &__likes {
            display: flex;
            align-items: center;
            color: rgb(30, 220, 30);
            gap: 5px;
            cursor: pointer;
            p + *:hover {
                transform: translateY(-3px) scale(1.1);
            }
        }
        &__dislikes {
            display: flex;
            align-items: center;
            color: $primary-color;
            gap: 5px;
            cursor: pointer;
            p + *:hover {
                transform: translateY(3px) scale(0.9);
            }
        }
    }
    &__btn-container {
        display: flex;
        &__btn {
            position: relative;
            background-color: $clr-1 !important;
            color: $secondary-color !important;
            font-size: 18px !important;
            transition: 0.1s ease-in-out !important;
            &:hover {
                color: $primary-color !important;
                transform: translateY(-3px) scale(1.1);
            }
        }
    }
    
}